.picture {
  padding-bottom: 25px;
}

.info {
  padding-bottom: 25px;
}

#search-input {
  width: 485px;
  /*width: 100%;*/
}

#go {
  padding: 25px 10px 30px 10px;
}

.title {
  color: #80bfff;
}

body {
  background-color: whitesmoke;
}